body {
  font-family: "Montserrat";
  background-color: rgb(48, 57, 57);
}

.menu {
  position: absolute;
  color: rgb(231, 222, 213);
}

.board {
  border: solid black 1px;
  width: 80vh;
  height: 80vh;
  margin-inline: auto;
  margin-top: 10vh;
  border-radius: 1%;
  display: grid;
  grid-template-columns: repeat(8, auto);
  flex-direction: column;
}

.square {
  width: 10vh;
  height: 10vh;
  position: relative;
  border: solid black .2px;
}

.square.white {
  background-color: rgb(231, 222, 213);
}

.square.highlight {
  background-color: red !important;
}

.square.black {
  background-color: rgb(86, 138, 78);
}

.square.white.origin {
  background-color: rgb(217, 162, 96);
}

.square.black.origin {
  background-color: rgb(189, 129, 57);
}

.square.white.red {
  background-color: rgba(207, 70, 70, 0.85) !important;
}

.square.black.red {
  background-color: rgba(199, 50, 50, 0.85) !important;
}


.square.attacked-black {
  background-color: rgba(0, 0, 0, 0.333) !important;
}

.square.attacked-white {
  background-color: rgba(255, 255, 255, 0.333) !important;
}

.square.attack {
  background-color: rgba(35, 28, 228, 0.333) !important;
}

.piece {
  cursor: pointer;
  font-size: 84px;
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
}

.piece>img {
  height: 90%;
  width: auto;
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}